<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Records</title>
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <% console.log(allPurchases); %>
    <table id="data-list">
      <thead>
        <tr>
          <th>ক্রমিক নংঃ</th>
          <th>নাম</th>
          <th>ঠিকানা</th>
          <th>মোবাইল নংঃ</th>
          <th>ধানের জাত</th>
          <th>মন প্রতি দাম</th>
          <th>মোট বস্তা</th>
          <th>মোট ওজন</th>
          <th>মোট দাম</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <%
        for(let i = 0; i<allPurchases.length; i++){ %>
          <tr>
          <td> <%= allPurchases.indexOf(allPurchases[i])+1 %></td>
          <td> <%= allPurchases[i].name %></td>
          <td> <%= allPurchases[i].address %></td>
          <td> <%= allPurchases[i].phone %></td>
          <td> <%= allPurchases[i].paddy %></td>
          <td> <%= allPurchases[i].rate %></td>
          <td> <%= allPurchases[i].bags %></td>
          <td> <%= allPurchases[i].weight %></td>
          <td> <%= allPurchases[i].totalPrice %></td>
          
        </tr>
        <% }
        %>
      </tbody>
    </table>
  </body>
</html>
